<table class="table-fill">
  <thead>
    <tr>
      <th>Text</th>
      <th>Irony</th>
    </tr>
  </thead>

  <tbody>
    <% @tweetsNS.each do |tweet| %>
      <tr>
        <td class="table-hover"><%= tweet.text %></td>
        <td><%= tweet.ironic%></td>
      </tr>
    <% end %>
  </tbody>
</table>
</tbody>